article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

body {
  background-color: #f7f8f9;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h1 { font-weight: 300; }

h2, h3 { font-weight: 400; }

header {
  background-image: linear-gradient(320deg, #A27EDE 0%, #6A35BF 100%);
  color: white;
  overflow: hidden;
}

#logo {
  width: 260px;
  margin: auto;
}

#logo img {
  float: left;
}

#github {
  display: block;
  position: absolute;
  text-decoration: none;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  color: white;
  opacity: .7;
}

#title #logo h1 {
  font-family: 'Fira Sans', sans-serif;
  margin: 0 auto 30px;
  font-size: 70px;
}

#title h2 {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px auto 50px auto;
  font-size: 30px;
}

#title {
  margin-top: 100px;
  text-align: center;
}

#banner {
  max-width: 960px;
  max-height: 332px;
  margin: auto;
  box-shadow: 0 10px 25px 0.5px rgba(0, 0, 0, 0.1);
}

nav {
  text-align: center;
}

nav a {
  font-size: 14pt;
  line-height: 40pt;
  margin: 0 40px;
}

a {
  color: #6A35BF;
  text-decoration: underline;
}

a:hover {
  color: #A27EDE;
}

nav a.cta {
  display: inline-block;
  color: white;
  background-image: linear-gradient(259deg, #6A35BF 0%, #A365E1 100%);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.25);
  border-radius: 50px;
  padding: 0px 30pt;
  white-space: nowrap;
  transition: all .1s ease;
  font-weight: 600;
  text-decoration: none;
}

nav a.cta:hover {
  text-decoration: none;
  background-image: linear-gradient(259deg, #6A35BF 0%, #A365E1 100%);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.25);
  color: #f7f8f9;
}

main {
  padding: 50px 0 0 0;
}

.flex {
  display: flex;
  margin: 0 auto;
  max-width: 920px;
  flex-wrap: wrap;
  padding: 20px 20px;
  justify-content: space-between;
}

.flex section {
  margin-top: 40px;
  width: 32%;
}

.flex section:first-child {
  margin-left: 0px;
}

.flex section:last-child {
  margin-right: 0px;
}

.flex section i {
  float: left;
  left: 0;
  display: block;
  margin: 0px auto 10px auto;
  color: #333;
}

.flex section h3 {
  margin-top: 0;
  font-size: 14pt;
  color: #6A35BF;
  margin-bottom: .5em;
  font-weight: 300;
  margin-left: 40px;
}

.flex section p {
  padding-left: 40px;
  color: #888;
  font-size: 12pt;
  margin: 0;
}

footer {
  max-width: 700px;
  margin: 100px auto 10px auto;
  font-size: 10pt;
  opacity: .5;
  text-align: center;
}

@media screen and (max-width: 960px) {
  header #banner {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .flex {
    display: block;
    padding: 0;
  }

  .flex section {
    width: 100%;
  }

  main {
    padding: 20px;
    margin: 0;
    width: calc(100% - 40px);
  }

  nav a {
    display: inline-block;
    margin: 0px 10px;
  }

  nav a.cta {
    display: block;
    margin: 20px;
  }

  header #logo {
    display: block;
    float: none;
    margin: 0px auto;
  }

  header #title br {
    display: none;
  }
}
