h2,h3 {
  padding-top: .5em;
}

.book-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.markdown {
  flex: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 .5em;
    color: #9a9da0;
    text-align: center;

    :hover {
      color: #343a40;
    }
  }
}
