<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Flipt - A modern feature flag solution</title>
    <meta name="description" content="Run experiments across services in your environment.">
    <meta name="image" content="https://flipt.io/img/banner.png">
    <meta itemprop="name" content="Flipt - A modern feature flag solution">
    <meta itemprop="description" content="Run experiments across services in your environment.">
    <meta itemprop="image" content="https://flipt.io/img/banner_og.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Flipt - A modern feature flag solution">
    <meta name="twitter:description" content="Run experiments across services in your environment.">
    <meta name="twitter:creator" content="Flipt">
    <meta name="twitter:image:src" content="https://flipt.io/img/banner_og.png">
    <meta name="og:title" content="Flipt - A modern feature flag solution">
    <meta name="og:description" content="Run experiments across services in your environment.">
    <meta name="og:image" content="https://flipt.io/img/banner_og.png">
    <meta name="og:url" content="https://flipt.io">
    <meta name="og:site_name" content="Flipt - A modern feature flag solution">
    <meta name="og:type" content="website">
    <meta name="viewport" content="width=device-width">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/favicon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44979762-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-44979762-7');
    </script>
  </head>
  <body>
    <header>
        <aside>
          <a id="github" title="View on GitHub" href="https://github.com/markphelps/flipt"><i class="fa fa-github fa-2x"></i></a>
        </aside>
        <div id="title">
          <img id="logo" src="/img/logo_large.svg" title="flipt" width="269">
          <h2>A modern feature flag solution</h2>
        </div>
        <div id="banner">
          <img src="/img/banner.png" width="960px"/>
        </div>
    </header>
    <main>
        <nav>
            <a href="/docs/getting_started">Documentation</a>
            <a href="/docs/api">API</a>
            <a href="/docs/installation" class="cta">Try It Now!</a>
        </nav>
        <div class="flex">
            <section>
                <i class="fa fa-building-o fa-2x"></i>
                <h3>On-Prem</h3>
                <p>Flipt can be deployed within your existing infrastructure so that you don't have to worry about your information being sent to a third party.</p>
            </section>
            <section>
                <i class="fa fa-flask fa-2x"></i>
                <h3>Experiment</h3>
                <p>Use simple on/off flags to toggle functionality in your applications, allowing you to rollout features over time.</p>
            </section>
            <section>
              <i class="fa fa-bullseye fa-2x"></i>
              <h3>User Targeting</h3>
              <p>Flipt allows you to create advanced distribution rules to target specific segments of users based on custom properties that you define.</p>
            </section>
            <section>
                <i class="fa fa-lock fa-2x"></i>
                <h3>Secure</h3>
                <p>HTTPS Support. No data leaves your servers and you don't have to open your systems to the outside world. Everything runs within your existing infrastructure.</p>
            </section>
            <section>
                <i class="fa fa-tachometer fa-2x"></i>
                <h3>Fast</h3>
                <p>Optimized for performance. Since Flipt is co-located with your existing services, there's no excessive latency to slow down your applications.</p>
            </section>
            <section>
                <i class="fa fa-code fa-2x"></i>
                <h3>Easy Integration</h3>
                <p>Simple <a href="/docs/api">REST API</a>. Native GRPC client SDKs available in Go, Ruby, Java, Python and many more.</p>
            </section>
        </div>
    </main>
    <footer>
        Flipt is made with&nbsp;<i class="fa fa-heart"></i>&nbsp;by <a rel="author" href="https://markphelps.me">Mark Phelps</a> and <a href="https://github.com/markphelps/flipt/graphs/contributors" title="Contributors">many other fabulous people</a>. If you need help, <a href="https://github.com/markphelps/flipt/issues/new" title="Open a new issue on Github">submit an issue</a> on Github.
    </footer>
  </body>
</html>
